
@media (min-width: 590px) and (max-width: 971px) {
    
    * {
         scroll-padding-top: 4.5em;
     }
 
     header {
         padding: 2% 7.5%;
     }
 
     .wrapper {
         padding: 5% 7.5%;
     }
 
     .my-name {
         font-size: clamp(3rem, 2.5462rem + 1.2308vw, 3.2rem);
     }
 
     .hero-section-hyperlinks img {
         margin-top: 0.5rem;
         max-width: 40px;
     }
 
     /* projects section */
     .project-item {
         padding: 0.5rem;
     }
 
     /* h2=title of project h3=tech used*/
     h2, 
     h3 { 
         text-align: center;
     }
 
     .project-hyperlinks {
         display: grid;
         grid-template-columns: repeat(1, 1fr);
         margin-left: -1rem;
     }
 
     .project-hyperlinks a p{
         margin-bottom: 1px;
         text-align: center;
     }
 
     /* quotation section */
     .quotation {
         margin: 2% 0;
         /* outline: 1px solid red; */
     }
 
     /* footer section */
     .footer {
         margin: 3% 10%;
     }
 
 } 