@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;700&display=swap');

:root {
    --dark-blue: #2C3639;
    --nearly-rotten-mango: #FFB84C;
    --off-white: #DCD7C9; 
}

* {
    box-sizing: border-box;
    scroll-padding-top: 6em;
    margin: 0;
    padding: 0;
    background-color: var(--dark-blue);
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
}

.logo {
    font-family: 'Inconsolata';
    font-style: normal;
    font-weight: 700;
    font-size: 2.1rem;
    line-height: 31px;
    color: var(--nearly-rotten-mango);
}

h1 {
    font-family: 'Inconsolata';
    font-style: normal;
    font-size: 2.25rem;
    font-weight: 400;
    line-height: 50px;
    padding-block: 0.6rem;
    color: var(--nearly-rotten-mango);
}

li, a {
    font-family: 'Inconsolata';
    font-style: normal;
    font-weight: 400;
    font-size: 1.625rem;
    line-height: 31px;
    color: var(--nearly-rotten-mango);
    text-decoration: none;
}

header {
    display: flex;
    position: fixed;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    opacity: 0.95;
    border-bottom: 3px solid var(--nearly-rotten-mango);
}

.navLinks {
    list-style: none;
    opacity: 1;
}

.navLinks[data-visible="true"] {
    transform: translateX(0%);
}

.navLinks li {
    list-style: none;
    display: inline-block;
    padding: 0px 2rem;
 
}

.navLinks li a {
    transition: all 0.15s ease 0s;
}

.wrapper {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: left;
    padding: 10rem 10%; 
}

.wrapper .about {
    padding-bottom: 5rem;
}

.wrapper .about .statement{
    font-weight: 700;
}

.wrapper .about img {
    margin-right: 1rem;
    float: left;
    width: 17%;
}

.wrapper .about .about-hyperlinks {
    display: flex;
    justify-content: flex-end;
}

.wrapper .about .about-hyperlinks img {
    width: 2em;
    height: 2em;
}

.wrapper p{
    margin: 1.25rem;
    font-family: 'Inconsolata';
    font-style: normal;
    font-weight: 400;
    font-size: 1.15rem;
    line-height: 23px;
    text-align: justify;
    color: var(--off-white);
}

.wrapper .about p {
    margin-top: 0rem;
}

.wrapper .skills {
    padding-bottom: 5rem;
}

.wrapper .skills .grid-container {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    min-width: 0;
    gap: 1rem;
    padding-block: 1rem;
    margin-inline: auto;
}

.wrapper .skills .grid-container img{
    width: 75px;
    height: 75px;
}

.wrapper .skills .grid-container p{
    line-height: 1em;
    font-size: 1.1rem;
    text-align: center;
}

.wrapper .skills .grid-container .grid-item {
   outline: 1px solid var(--nearly-rotten-mango);
   padding: 1rem;
}

.wrapper .skills .grid-container .grid-item img{
    margin-left: 2.15rem;
    margin-top: 1rem;
 }

.wrapper .projects img {
    margin-right: 1rem;
    float: left;
    width: 29%;
}

.wrapper .projects {
    padding-bottom: 5rem;
    border-bottom: 3px solid var(--nearly-rotten-mango);
}

/* .wrapper .projects .flex-container .flex-item {
    outline: 1px solid var(--nearly-rotten-mango);
} */

.wrapper .projects .flex-container .flex-item .main-project-image {
    outline: 1px solid var(--nearly-rotten-mango);
}

.wrapper .projects .flex-container .title {
    font-family: 'Inconsolata';
    font-style: normal;
    font-size: 2.25rem;
    font-weight: 700;
    line-height: 2rem;
    color: var(--off-white);
}

.wrapper .projects .flex-container .subtitle {
    font-family: 'Inconsolata';
    font-style: normal;
    font-weight: 700;
    font-size: 1.15rem;
    text-align: justify;
    line-height: 0rem;
    color: var(--nearly-rotten-mango);
}

.wrapper .projects .flex-container .project-description {
    font-family: 'Inconsolata';
    font-style: normal;
    font-weight: 400;
    font-size: 1.2rem;
    text-align: justify;
    line-height: 0.9rem;
    color: var(--off-white);
}

.wrapper .projects .flex-container .project-description a {
    font-size: 1.2rem;
    color: var(--nearly-rotten-mango);
}

.wrapper .projects .flex-container .project-hyperlinks {
    display: flex;
    justify-content: flex-end;
}

.wrapper .projects .flex-container .project-hyperlinks img {
    width: 2em;
    height: 2em;
    margin-top: -7%;
    margin-right: 0.8rem;
}

.wrapper .projects .flex-container .project-hyperlinks a {
    margin-right: 0.5rem;
    outline: 1.5px solid var(--nearly-rotten-mango);
}

.wrapper .projects .flex-container .project-hyperlinks a p {
    font-size: 1.1rem;
    font-weight: 700;
    color: var(--nearly-rotten-mango);
}

.wrapper .projects .more-to-come {
    font-style: italic;
    text-align: center;
    color: var(--nearly-rotten-mango);
}

.quotation {
    display: flex;
    margin-top: 2rem;
    flex-direction: column;
    font-family: 'Inconsolata';
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
}

.quotation p {
    font-style: italic;
    font-size: 1.25rem;
    text-align: center;
}

.quotation b {
    color: var(--off-white);
    font-size: 1.25rem;
    text-align: right;
}

.footer {
    display: flex;
    flex-direction: row;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 1em;
    padding-bottom: 1em;
    justify-content: space-between;
    font-family: 'Inconsolata';
    font-style: italic;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.3rem;
    text-align: left;
    color: var(--nearly-rotten-mango);

}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
}

.toggleButton {
    position: absolute;
    top: 2rem;
    right: 4.5rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 40px;
    height: 30px;
    border: 0;
}

/* mobile settings below */

/* mobile vertical orientation */
@media (max-width: 920px) {
    .toggleButton {
        display: flex;
        z-index: 9999;
    }

    .navLinks {
        position: fixed;
        inset: 0 0 0 50%;
        display: flex;
        padding: min(30vh, 10rem) 2em;
        flex-direction: column;
        transform: translateX(100%);
        transition: transform 150ms ease-out;
    }

    .navBar {
        flex-direction: column;
        align-items: flex-start;  
    }

    .navLinks ul {
        width: 100%;
        flex-direction: column;
    }
    

    .navLinks li {
        margin: 1.5em;
        text-align: right;
    }

    .navLinks li a {
        padding: 0.5rem 1rem;
    }

    .navLinks.active {
        display: flex;
    }
}

@media (max-width: 810px) {

    .wrapper .about p {
        font-size: 1.25rem;
        margin-left: 0; 
        text-align: left;
    }
    .wrapper .about img {
        width: 290px;
        height: 340px;
        
    }

    .wrapper .skills .grid-container {
        grid-template-columns: repeat(4, 1fr);
    }

    .wrapper .skills .grid-container .grid-item img{
        margin-left: 1.4rem;
        margin-top: 1rem;
     }

    .wrapper .skills .grid-container .js img{
        margin-left: 1.7rem;
    }

    .wrapper .projects .flex-container .flex-item .main-project-image {
        width: 100%;
        height: 15%;
        margin-left: 0%;
        margin-bottom: 2%;
    }

    .wrapper .projects .flex-container .title {
        font-size: 2.2rem;
        line-height: 2rem;
        text-align: center;
        margin: 0;
    }

    .wrapper .projects .flex-container .subtitle {
        margin: 0;
        font-size: 1.3rem;
        line-height: 2.4rem;
        text-align: center;
    }

    .wrapper .projects .flex-container .project-description {
        margin: 0;
        margin-bottom: 5%;
        font-size: 1.4rem;
        line-height: 1.6rem;
    }

    .wrapper .projects .flex-container .project-description a {
        font-size: 1.4rem;
        line-height: 0rem;
    }
}

@media (max-width: 428px) {
    .toggleButton {
        display: flex;
        z-index: 9999;
        margin-right: -8%;
        margin-top: -0.5%;
    }

    .navLinks {
        position: fixed;
        inset: 0 0 0 30%;
        display: flex;
        padding: min(20vh, 10rem) 2em;
        flex-direction: column;
        transform: translateX(100%);
        transition: transform 150ms ease-out;
    }

    .navBar {
        flex-direction: column;
        align-items: flex-start;
    }

    .navLinks ul {
        width: 100%;
        flex-direction: column;
    }

    .navLinks li {
        margin-right: 0.5em;
        text-align: right;
    }

    .navLinks li a {
        padding: 0.5rem 1rem;
    }

    .navLinks.active {
        display: flex;
    }

    .wrapper {
        padding: 10rem 1% 10% 1%; 
        margin: 0 4% 0 4%;
    }

    .wrapper .about img {
        width: 280px;
        height: 330px;
        margin-left: 14%;
        margin-bottom: 5%;
    }

    .wrapper .about p {
        text-align: left;
        margin-top: 1px;
        font-size: 2.5ch;
        padding: 0 0 0 3.5%;
    }

    .wrapper .skills .grid-container {
        grid-template-columns: repeat(2, 1fr);
    }

    .wrapper .skills .grid-container .grid-item img{
        margin-left: 2.5rem;
        margin-top: 1rem;
     }

    .wrapper .projects .flex-container .subtitle {
        line-height: 1.4rem;
    }

    .wrapper .projects .flex-container .flex-item .main-project-image {
        width: 100%;
        height: 15%;
        margin-left: 0%;
        margin-bottom: 2%;
    }

    .wrapper .projects .flex-container .title {
        font-size: 1.8rem;
        line-height: 2rem;
        text-align: center;
        margin: 0;
    }
    
    .wrapper .projects .flex-container .subtitle {
        margin: 0;
        font-size: 1rem;
        line-height: 1.8rem;
        text-align: center;
    }

    .wrapper .projects .flex-container .project-description {
        margin: 0;
        font-size: 1.2rem;
        line-height: 1.4rem;
        text-align: left;
    }

    .wrapper .projects .flex-container .project-description a {
        font-size: 1.1rem;
        text-align: left;
        line-height: 0rem;
    }

    .wrapper .projects .flex-container .project-hyperlinks {
        display: flex;
        margin: 5% 0 0 1%;
        justify-content: center;
    }
}

@media (max-width: 412px) {
    .toggleButton {
        display: flex;
        z-index: 9999;
        margin-right: -8%;
        margin-top: -0.5%;
    }

    .navLinks {
        position: fixed;
        inset: 0 0 0 35%;
        display: flex;
        padding: min(10vh, 40rem) 1em;
        flex-direction: column;
        transform: translateX(100%);
        transition: transform 150ms ease-out;
    }

    .navBar {
        flex-direction: column;
        align-items: flex-start;
       
    }

    .navLinks ul {
        width: 100%;
        flex-direction: column;
    }

    .navLinks li {
        margin-right: 80%;
        text-align: right;
    }

    .navLinks li a {
        padding: 0.5rem 1rem;
    }

    .navLinks.active {
        display: flex;
    }

    .wrapper {
        padding: 10rem 2% 10% 2%; 
        margin: 0 1% 0 1%;
    }

    .wrapper .about img {
        width: 280px;
        height: 330px;
        margin-left: 14%;
        margin-bottom: 5%;
    }

    .wrapper .about p {
        text-align: left;
        margin-top: 1px;
        font-size: 2.5ch;
        padding: 0 0 0 3.5%;
    }

    .wrapper .about .about-hyperlinks {
        margin-right: 4%;
    }

    .wrapper .skills .grid-container {
        grid-template-columns: repeat(2, 1fr)
    }

    .wrapper .skills .grid-container .grid-item img{
        margin-left: 2.4rem;
        margin-top: 1rem;
     }

    .wrapper .projects .flex-container .flex-item .main-project-image {
        width: 100%;
        height: 15%;
        margin-left: 0%;
        margin-bottom: 2%;
    }

    .wrapper .projects .flex-container .title {
        font-size: 1.8rem;
        line-height: 2rem;
        text-align: center;
        margin: 0;
    }
    
    .wrapper .projects .flex-container .subtitle {
        margin: 0;
        font-size: 1rem;
        line-height: 1.8rem;
        text-align: center;
    }

    .wrapper .projects .flex-container .project-description {
        margin: 0;
        font-size: 1.2rem;
        line-height: 1.4rem;
    }

    .wrapper .projects .flex-container .project-description a {
        font-size: 1.1rem;
        text-align: left;
        line-height: 0rem;
    }

    .wrapper .projects .flex-container .project-hyperlinks {
        display: flex;
        margin: 5% 0 0 1%;
        justify-content: center;
    }

    .quotation {
        margin-top: 1.5rem;
    }

}

@media (max-width: 384px) {
    .toggleButton {
        display: flex;
        z-index: 9999;
        margin-right: -12%;
    }

    .navLinks {
        position: fixed;
        inset: 0 0 0 30%;
        display: flex;
        padding: min(20vh, 10rem) 2em;
        flex-direction: column;
        transform: translateX(100%);
        transition: transform 150ms ease-out;
    }

    .navBar {
        flex-direction: column;
        align-items: flex-start;
    }

    .navLinks ul {
        width: 100%;
        flex-direction: column;
    }

    .navLinks li {
        margin-right: 1em;
        text-align: right;
    }

    .navLinks li a {
        padding: 0.5rem 1rem;
    }

    .navLinks.active {
        display: flex;
    }

    .wrapper {
        padding: 10rem 3% 10% 3%; 
    }

    .wrapper .projects .flex-container .project-description {
        text-align: left;
    }
}

@media (max-width: 375px) {
    .toggleButton {
        display: flex;
        z-index: 9999;
        margin-right: -12%;
    }

    .navLinks {
        position: fixed;
        inset: 0 0 0 30%;
        display: flex;
        padding: min(20vh, 10rem) 2em;
        flex-direction: column;
        transform: translateX(100%);
        transition: transform 150ms ease-out;
    }

    .navBar {
        flex-direction: column;
        align-items: flex-start;
    }

    .navLinks ul {
        width: 100%;
        flex-direction: column;
    }

    .navLinks li {
        margin-right: 1.5em;
        text-align: right;
    }

    .navLinks li a {
        padding: 0.5rem 1rem;
    }

    .navLinks.active {
        display: flex;
    }

    .wrapper .about img {
        width: 280px;
        height: 330px;
        margin-left: 10%;
        margin-bottom: 5%;
    }

    .wrapper .skills .grid-container .grid-item img{
        margin-left: 1.8rem;
        margin-top: 1rem;
     }
}

@media (max-width: 360px) {
    .toggleButton {
        display: flex;
        z-index: 9999;
        margin-right: -12%;
    }

    .navLinks {
        position: fixed;
        inset: 0 0 0 27.5%;
        display: flex;
        padding: min(20vh, 5rem) 2em;
        flex-direction: column;
        transform: translateX(100%);
        transition: transform 150ms ease-out;
    }

    .navBar {
        flex-direction: column;
        align-items: flex-start;
    }

    .navLinks ul {
        width: 100%;
        flex-direction: column;
    }

    .navLinks li {
        margin-right: 2em;
        text-align: right;
    }

    .navLinks li a {
        padding: 0.5rem 1rem;
    }

    .navLinks.active {
        display: flex;
    }

    h1 {
        padding-left: 5%;
    }

    .wrapper {
        padding: 10rem 2.5% 10% 2.5%; 
    }

    .wrapper .about p{
        font-size: 2.5ch;
        padding: 0 0 0 5%;
    }

    .wrapper .about img {
        width: 260px;
        height: 310px;
        margin-left: 10%;
        margin-right: 10%;
        margin-bottom: 5%;
    }

    .wrapper .skills .grid-container .grid-item img{
        margin-left: 1.8rem;
        margin-top: 1rem;
     }

    .wrapper .projects{
        padding-bottom: 2.7rem;
    }

    .wrapper .projects .flex-container .main-project-image {
        width: 75%;
        margin-left: 7.5%;
        margin-right: 7.5%;
        margin-bottom: 3%;
    }

    .wrapper .projects .flex-container .title {
        font-size: 3.2ch;
        line-height: 110%;
        text-align: center;
    }

    .wrapper .projects .flex-container .subtitle {
        margin: 2% 0 2% 0;
        line-height: 120%;
        font-size: 2.1ch;
        text-align: center;
    }

    .wrapper .projects .flex-container .project-description {
        text-align: left;
    }
    
    .wrapper .projects .flex-container .project-hyperlinks {
        margin-top: 2.7rem;
        display: block;
    }

    .wrapper .projects .flex-container .project-hyperlinks img {
        width: 1.5em;
        height: 1.5em;
    }
    
    .wrapper .projects .flex-container .project-hyperlinks a p {
        font-size: 1.2ch;
        font-weight: 700;
    }

    .wrapper .projects .flex-container .project-hyperlinks {
        display: flex;
        margin-left: 7%;
        margin-right: 4%;
        justify-content: space-between;
    }

    .wrapper .projects .flex-container .project-hyperlinks img {
        width: 2em;
        height: 2em;
        margin-top: -4.5%;
        margin-right: 0.8rem;
    }

    .quotation p {
        font-size: 2.5ch;
    }

    .quotation b {
        font-size: 2ch;
        margin-right: 5%;
    }
}

/* mobile landscape orientation */
@media (max-width: 1280px) and (orientation: landscape) {

    .toggleButton {
        display: flex;
        z-index: 9999;
        margin-right: 3.5%;
    }

    .navLinks {
        position: fixed;
        inset: 0 0 0 50%;
        display: flex;
        padding: min(30vh, 7rem) 1em;
        flex-direction: column;
        transform: translateX(100%);
        transition: transform 150ms ease-out;
    }

    .navBar {
        flex-direction: column;
        align-items: flex-start;  
    }

    .navLinks ul {
        width: 100%;
        flex-direction: column;
    }
    

    .navLinks li {
        margin: 1.7em;
        text-align: right;
    }

    .navLinks li a {
        padding: 0.5rem 1rem;
    }

    .navLinks.active {
        display: flex;
    }

    .wrapper .about p {
        font-size: 1.25rem;
        margin-left: 0; 
        text-align: left;
    }

    .wrapper .about img {
        width: 290px;
        height: 340px;
    }

    .wrapper .skills .grid-container {
        grid-template-columns: repeat(6, 1fr);
    }

    .wrapper .skills .grid-container .grid-item img{
        margin-left: 1.7rem;
        margin-top: 1rem;
     }

     .wrapper .projects .flex-container .flex-item .main-project-image {
        width: 100%;
        height: 15%;
        margin-left: 0.5%;
        margin-bottom: 2%;
    }

    .wrapper .projects .flex-container .project-description {
        margin: 0;
        margin-bottom: 5%;
        font-size: 1.25rem;
        line-height: 1.4rem;
    }

    .wrapper .projects .flex-container .title {
        font-size: 2.2rem;
        line-height: 2rem;
        text-align: center;
        margin: 0;
    }

    .wrapper .projects .flex-container .subtitle {
        margin: 0;
        font-size: 1.3rem;
        line-height: 2.4rem;
        text-align: center;
    }

    .wrapper .projects .flex-container .project-description a {
        font-size: 1.25rem;
        line-height: 1.3rem;
    }
}

@media (max-width: 1080px) and (orientation: landscape) {

    .toggleButton {
        display: flex;
        z-index: 9999;
        margin-right: 2.75%;
    }

    .navLinks {
        position: fixed;
        inset: 0 0 0 50%;
        display: flex;
        padding: min(30vh, 7rem) 1em;
        flex-direction: column;
        transform: translateX(100%);
        transition: transform 150ms ease-out;
    }

    .navBar {
        flex-direction: column;
        align-items: flex-start;  
    }

    .navLinks ul {
        width: 100%;
        flex-direction: column;
    }
    

    .navLinks li {
        margin: 1.7em;
        text-align: right;
    }

    .navLinks li a {
        padding: 0.5rem 1rem;
    }

    .navLinks.active {
        display: flex;
    }

    .wrapper .about p {
        font-size: 1.25rem;
        margin-left: 0; 
        text-align: left;
    }

    .wrapper .about img {
        width: 290px;
        height: 340px;
    }

    .wrapper .skills .grid-container {
        grid-template-columns: repeat(4, 1fr);
    }

    .wrapper .skills .grid-container .grid-item img{
        margin-left: 3rem;
        margin-top: 1rem;
     }

     .wrapper .projects .flex-container .flex-item .main-project-image {
        width: 100%;
        height: 15%;
        margin-left: 0.5%;
        margin-bottom: 2%;
    }

    .wrapper .projects .flex-container .project-description {
        margin: 0;
        margin-bottom: 5%;
        font-size: 1.25rem;
        line-height: 1.4rem;
    }

    .wrapper .projects .flex-container .title {
        font-size: 2.2rem;
        line-height: 2rem;
        text-align: center;
        margin: 0;
    }

    .wrapper .projects .flex-container .subtitle {
        margin: 0;
        font-size: 1.3rem;
        line-height: 2.4rem;
        text-align: center;
    }

    .wrapper .projects .flex-container .project-description a {
        font-size: 1.25rem;
        line-height: 1.3rem;
    }
}

@media (max-width: 926px) and (orientation: landscape) {

    .toggleButton {
        margin-right: 1.5%;
    }

    .navLinks {
        padding: min(25vh, 10rem) 0.8em;
    }

    .navBar {
        flex-direction: column;
        align-items: flex-start;  
    }

    .navLinks ul {
        width: 100%;
        flex-direction: column;
    }
    

    .navLinks li {
        margin: 0.7em;
        text-align: right;
    }

    .navLinks li a {
        padding: 0.5rem 1rem;
    }

    .navLinks.active {
        display: flex;
    }
    
    .wrapper .skills .grid-container .grid-item img{
        margin-left: 2.1rem;
    }

    .wrapper .skills .grid-container {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media (max-width: 915px) and (orientation: landscape) {

    .toggleButton {
        margin-right: 1.25%;
    }

    .navLinks {
        position: fixed;
        inset: 0 0 0 50%;
        display: flex;
        padding: min(30vh, 7rem) 1em;
        flex-direction: column;
        transform: translateX(100%);
        transition: transform 150ms ease-out;
    }

    .navBar {
        flex-direction: column;
        align-items: flex-start;  
    }

    .navLinks ul {
        width: 100%;
        flex-direction: column;
    }
    

    .navLinks li {
        margin: 0.7em;
        text-align: right;
    }

    .navLinks li a {
        padding: 0.5rem 1rem;
    }

    .navLinks.active {
        display: flex;
    }

    .wrapper .about p {
        font-size: 1.25rem;
        margin-left: 0; 
        text-align: left;
    }

    .wrapper .about img {
        width: 290px;
        height: 340px;
    }

    .wrapper .skills .grid-container {
        grid-template-columns: repeat(4, 1fr);
    }

    .wrapper .skills .grid-container .grid-item img{
        margin-left: 2rem;
        margin-top: 1rem;
     }

     .wrapper .projects .flex-container .flex-item .main-project-image {
        width: 100%;
        height: 15%;
        margin-left: 0.5%;
        margin-bottom: 2%;
    }

    .wrapper .projects .flex-container .project-description {
        margin: 0;
        margin-bottom: 5%;
        font-size: 1.25rem;
        line-height: 1.4rem;
    }

    .wrapper .projects .flex-container .title {
        font-size: 2.2rem;
        line-height: 2rem;
        text-align: center;
        margin: 0;
    }

    .wrapper .projects .flex-container .subtitle {
        margin: 0;
        font-size: 1.3rem;
        line-height: 2.4rem;
        text-align: center;
    }

    .wrapper .projects .flex-container .project-description a {
        font-size: 1.25rem;
        line-height: 1.3rem;
    }
}

@media (max-width: 854px) and (orientation: landscape) {

    .toggleButton {
        display: flex;
        z-index: 9999;
        margin-right: 0.75%;
    }

    .navLinks {
        padding: min(25vh, 10rem) 0.8em;
    }
    
    .wrapper .skills .grid-container .grid-item img{
        margin-left: 1.6rem;
    }

    .wrapper .skills .grid-container .js img{
        margin-left: 1.6rem;
    }
}

@media (max-width: 812px) and (orientation: landscape) {

    .toggleButton {
        margin-right: 0.1%;
    }

    .wrapper .skills .grid-container .grid-item img{
        margin-left: 1.3rem;
    }

    .wrapper .skills .grid-container .js img{
        margin-left: 1.6rem;
    }
}

@media (max-width: 800px) and (orientation: landscape) {

    .toggleButton {
        margin-right: -0.1%;
    }

    .navLinks {
        padding: min(20vh, 8rem) 0.8em;
    }

    .wrapper .skills .grid-container .grid-item img{
        margin-left: 1.3rem;
    }

    .wrapper .skills .grid-container .js img{
        margin-left: 1.6rem;
    }
}

@media (max-width: 760px) and (orientation: landscape) {

    .toggleButton {
        margin-right: -0.5%;
    }

    .navLinks {
        padding: min(20vh, 8rem) 0.8em;
    }

    .wrapper .skills .grid-container .grid-item img{
        margin-left: 0.9rem;
    }

    .wrapper .skills .grid-container .js img{
        margin-left: 1.6rem;
    }

    .wrapper .projects .flex-container .title {
        font-size: 2rem;
    }
}

@media (max-width: 667px) and (orientation: landscape) {

    .toggleButton {
        margin-right: -2%;
    }

    .navLinks {
        padding: min(20vh, 8rem) 0.8em;
    }

    .wrapper .skills .grid-container {
        grid-template-columns: repeat(3, 1fr);
    }

    .wrapper .skills .grid-container .grid-item img{
        margin-left: 2rem;
    }

    .wrapper .projects .flex-container .title {
        font-size: 1.9rem;
    }
}