@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;700&display=swap');

:root {
    --dark-blue: #2C3639;
    --nearly-rotten-mango: #FFB84C;
    --off-white: #DCD7C9; 
}

* {
    box-sizing: border-box;
    scroll-padding-top: 7em;
    margin: 0;
    padding: 0;
    background-color: var(--dark-blue);
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
}

.logo {
    font-family: 'Inconsolata';
    font-style: normal;
    font-weight: 700;
    font-size: calc(2rem + 0.390625vw);
    line-height: 31px;
    color: var(--nearly-rotten-mango);
}

h1 {
    font-family: 'Inconsolata';
    font-style: normal;
    font-size: calc(2rem + 0.390625vw);
    font-weight: 700;
    line-height: calc(3.125rem + 0.390625vh);
    padding-bottom: calc(0.5rem + 0.390625vh);
    color: var(--nearly-rotten-mango);
}

li, a {
    font-family: 'Inconsolata';
    font-style: normal;
    font-weight: 400;
    font-size: calc(1.125rem + 0.390625vw);
    line-height: calc(2rem + 0.390625vw);
    color: var(--nearly-rotten-mango);
    text-decoration: none;
   
}

header {
    display: flex;
    position: fixed;
    width: calc(100% + 0.390625vw);
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    opacity: 0.95;
    border-bottom: 3px solid var(--nearly-rotten-mango);
}

.navBar {
    margin-right: calc(-2.5% + 0.390625vw);
}

.navLinks {
    list-style: none;
    opacity: 1;
}

.navLinks[data-visible="true"] {
    transform: translateX(0%);
}

.navLinks li {
    list-style: none;
    display: inline-block;
    padding: 0px 2.5rem;
   
}

.navLinks li a {
    color: var(--off-white);
    transition: all 0.15s ease 0s;
}

.navLinks li a:hover {
    color: var(--nearly-rotten-mango);
    transition: all 0.15s ease 0s;
}

.wrapper {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: left;
    padding: 10rem 10%; 
}

.wrapper p{
    margin: 1.25rem;
    font-family: 'Inconsolata';
    font-style: normal;
    font-weight: 400;
    font-size: calc(0.8rem + 0.390625vw);
    line-height: calc(1.5rem + 0.390625vw);
    text-align: justify;
    color: var(--off-white);
    margin-right: calc(0.1% + 0.390625vw);
}

.wrapper .about {
    padding-bottom: calc(5% + 0.390625vh);
}

.wrapper .about .emphasize-using-color{
    color: var(--nearly-rotten-mango)
}

.wrapper .about .emphasize-using-weight{
    font-weight: 700;
}

.wrapper .about img {
    margin-right: calc(0.5rem + 0.390625vw);
    float: left;
    width: calc(20% + 0.390625vw);
}

.wrapper .about .about-hyperlinks {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.wrapper .about .about-hyperlinks img {
    width: calc(2em + 0.390625vw);
    height: calc(2em + 0.390625vh);
    margin: 0 0 0 0;
}

.wrapper .about p {
    margin: 0 0 calc(1rem + 0.390625vw) 0;
    line-height: calc(1.35rem + 0.390625vh);
}

.wrapper .skills {
    padding-bottom: calc(5rem + 0.390625vh);
}

.wrapper .skills .grid-container {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    min-width: 0;
    gap: calc(0.75rem + 0.390625vw);
    /* padding-block: 1rem; */
    margin-inline: auto;
}

.wrapper .skills .grid-container img{
    width: calc(65px + 0.390625vw);
    height: calc(65px + 0.390625vh);
}

.wrapper .skills .grid-container p{
    line-height: calc(1.1rem + 0.390625vh);
    text-align: center;
}

.wrapper .skills .grid-container .grid-item {
   outline: 1px solid var(--nearly-rotten-mango);
   padding: calc(0.9rem + 0.390625vh);
}

.wrapper .skills .grid-container .grid-item img{
    margin-left: calc(1.85rem + 0.390625vw);
    margin-top: calc(1rem + 0.390625vh);
}

.wrapper .skills .grid-container p{
    margin-left: calc(0.4rem + 0.390625vw);
 }

.wrapper .projects img {
    margin-right: calc(1rem + 0.390625vw);
    float: left;
    width: calc(25% + 0.390625vw);
}

.wrapper .projects {
    padding-bottom: calc(5rem + 0.390625vw);
    border-bottom: 3px solid var(--nearly-rotten-mango);
}

.wrapper .projects .flex-container .flex-item {
    margin: calc(0.75rem + 0.390625vh) 0 0 0;    
}

.wrapper .projects .flex-container .flex-item .main-project-image {
    outline: 1px solid var(--nearly-rotten-mango);
    margin: 0 calc(0.2rem + 0.390625vw) 0 0;
    width: calc(25% + 0.390625vw); 
    height: calc(25% + 0.390625vh);
}

.wrapper .projects .flex-container .title {
    color: var(--off-white);
    font-family: 'Inconsolata';
    font-style: normal;
    font-weight: 700;
    font-size: calc(1.8rem + 0.390625vw);
    margin: 0 0 calc(0.2rem + 0.390625vw) 0;
    line-height: calc(1.5rem + 0.390625vh);
    text-align: left;
}

.wrapper .projects .flex-container .subtitle {
    color: var(--nearly-rotten-mango);
    font-family: 'Inconsolata';
    font-style: normal;
    font-weight: 400;
    font-size: calc(0.8rem + 0.390625vw);
    text-align: justify;    
    margin: 0 0 calc(0.1rem + 0.390625vw) 0;
    line-height: calc(0.7rem + 0.390625vh);
}

.wrapper .projects .flex-container .project-description {
    color: var(--off-white);
    font-family: 'Inconsolata';
    font-style: normal;
    font-weight: 400;
    text-align: justify;
    margin: 0 0 calc(1rem + 0.390625vw) 0; 
    line-height: calc(1.2rem + 0.390625vh);
}

.wrapper .projects .flex-container .flex-item .project-description a {
    color: var(--nearly-rotten-mango);
    margin: 0 0 calc(1rem + 0.390625vw) 0;
    font-size: calc(0.81rem + 0.390625vw);
    line-height: calc(1.35rem + 0.390625vh);
}

.wrapper .projects .flex-container .flex-item .project-hyperlinks {
    display: flex;
    justify-content: flex-end;
}

/* .wrapper .projects .flex-container .flex-item .project-hyperlinks img {
    width: calc(2rem + 0.390625vw); 
    height: calc(2rem + 0.390625vh);
} */

.wrapper .projects .flex-container .flex-item .project-hyperlinks a {
    margin: calc(1% - 0.390625vh) calc(1% - 0.390625vh) 0 0;
    outline: 1px solid var(--nearly-rotten-mango);
}

.wrapper .projects .flex-container .flex-item .project-hyperlinks a p {
    font-size: calc(0.7rem + 0.390625vw);
    font-weight: 400;
    padding: 0 0 0 0;
    margin: 0 calc(0.5rem + 0.390625vw) 0 calc(0.625rem + 0.390625vw);
    color: var(--nearly-rotten-mango);
}

.wrapper .projects .flex-container .flex-item .project-hyperlinks a p:hover {
    color: var(--off-white);
}

.wrapper .projects .more-to-come {
    /* outline: 1px solid red; */
    margin: calc(6rem + 0.390625vh) 0 0 0;
    font-style: italic;
    text-align: center;
    color: var(--nearly-rotten-mango);
}

.quotation {
    display: flex;
    margin-top: calc(2rem + 0.390625vh);
    flex-direction: column;
    font-family: 'Inconsolata';
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
}

.quotation p {
    font-style: italic;
    font-size: calc(0.8rem + 0.390625vw);
    text-align: center;
}

.quotation b {
    color: var(--off-white);
    font-size: calc(0.8rem + 0.390625vw);
    text-align: right;
}

.footer {
    display: flex;
    flex-direction: row;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: calc(3rem + 0.390625vh);
    justify-content: space-between;
    font-family: 'Inconsolata';
    font-style: italic;
    font-size: calc(0.6rem + 0.390625vw);
    font-weight: 400;
    line-height: calc(1.1rem + 0.390625vh);
    text-align: left;
    color: var(--nearly-rotten-mango);

}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
}

.toggleButton {
    position: absolute;
    top: calc(1.6rem + 0.390625vh);
    right: calc(3.5rem + 0.390625vw);
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: calc(2.5rem + 0.390625vw);
    height: calc(1.875rem + 0.390625vh);
    border: 0;
}


@media (min-width: 1801px) and (max-width: 1900px){
 
    .wrapper .projects .flex-container .project-description {
        line-height: 1.4rem;
    }
    .wrapper .projects .flex-container .project-description a {
        line-height: 1.4rem;
    }

    .wrapper .skills .grid-container p{
        margin-left: calc(0.4rem + 0.390625vw);
    }
}

@media (min-width: 1601px) and (max-width:1871px){
    .wrapper .skills .grid-container {
        grid-template-columns: repeat(8, 1fr);
    }

    .wrapper .skills .grid-container .grid-item img{
        margin-left: 1.7rem;
     }
     .wrapper .projects .flex-container .flex-item .main-project-image {
        height: 15%;
        margin-left: 0.5%;
        margin-bottom: 2%;
    }

    .wrapper .projects .flex-container .project-description {
        margin: 0;
        margin-bottom: 5%;
        font-size: 1.25rem;
        line-height: 1.4rem;
    }

    .wrapper .projects .flex-container .title {
        font-size: 2.2rem;
        line-height: 2rem;
        margin: 0;
    }

    .wrapper .projects .flex-container .subtitle {
        margin: 0;
        font-size: 1.3rem;
        line-height: 2.4rem;
    }

    .wrapper .projects .flex-container .project-description a {
        font-size: 1.25rem;
        line-height: 1.3rem;
    }

    .wrapper .skills .grid-container p{
        margin-left: calc(0.3rem + 0.390625vw);
    }
}

@media (min-width: 1458px) and (max-width:1600px){
    .wrapper .skills .grid-container {
        grid-template-columns: repeat(7, 1fr);
    }

    .wrapper .skills .grid-container .grid-item img{
        margin-left: 2rem;
     }

     .wrapper .skills .grid-container p{
        margin-left: calc(0.4rem + 0.390625vw);
    }

     .wrapper .projects .flex-container .flex-item .main-project-image {
        height: 15%;
        margin-left: 0.5%;
        margin-bottom: 2%;
    }

    .wrapper .projects .flex-container .project-description {
        margin: 0;
        margin-bottom: 5%;
        font-size: 1.25rem;
        line-height: 1.4rem;
    }

    .wrapper .projects .flex-container .title {
        font-size: 2.2rem;
        line-height: 2rem;
        margin: 0;
    }

    .wrapper .projects .flex-container .subtitle {
        margin: 0;
        font-size: 1.3rem;
        line-height: 2.4rem;
    }

    .wrapper .projects .flex-container .project-description a {
        font-size: 1.3rem;
        line-height: 1.3rem;
    }
}

@media (min-width: 1314px) and (max-width:1457px){
    .wrapper .skills .grid-container {
        grid-template-columns: repeat(6, 1fr);
    }
    
    .wrapper .skills .grid-container .grid-item img{
        margin-left: 2rem;
     }

     .wrapper .skills .grid-container p{
        margin-left: calc(0.3rem + 0.390625vw);
    }

     .wrapper .projects .flex-container .flex-item .main-project-image {
        height: 15%;
        margin-left: 0.5%;
        margin-bottom: 2%;
    }

    .wrapper .projects .flex-container .project-description {
        margin: 0;
        margin-bottom: 5%;
        font-size: 1.25rem;
        line-height: 1.4rem;
    }

    .wrapper .projects .flex-container .title {
        font-size: 2.2rem;
        line-height: 2rem;
        margin: 0;
    }

    .wrapper .projects .flex-container .subtitle {
        margin: 0;
        font-size: 1.3rem;
        line-height: 2.4rem;
    }

    .wrapper .projects .flex-container .project-description a {
        font-size: 1.3rem;
        line-height: 1.3rem;
    }
}

@media (min-width: 1201px) and (max-width:1313px){
    .wrapper .skills .grid-container {
        grid-template-columns: repeat(6, 1fr);
    }

    .wrapper .skills .grid-container .grid-item img{
        margin-left: 1.3rem;
     }

     .wrapper .skills .grid-container p{
        margin-left: 0.1rem;
    }

     .wrapper .projects .flex-container .flex-item .main-project-image {
        height: 15%;
        margin-left: 0.5%;
    }

    .wrapper .projects .flex-container .project-description {
        margin: 0;
        margin-bottom: 5%;
        font-size: 1.25rem;
        line-height: 1.4rem;
    }

    .wrapper .projects .flex-container .title {
        font-size: 2.2rem;
        line-height: 2rem;
        margin: 0;
    }

    .wrapper .projects .flex-container .subtitle {
        margin: 0;
        font-size: 1.3rem;
        line-height: 2.4rem;
    }

    .wrapper .projects .flex-container .project-description a {
        font-size: 1.3rem;
        line-height: 1.3rem;
    }
}

@media (min-width: 921px) and (max-width: 1080px) {
   
    .wrapper .skills .grid-container .grid-item img{
        margin-left: 2rem;
     }

     .wrapper .skills .grid-container p{
        margin-left: calc(0.4rem + 0.390625vw);
    }
}


/* mobile vertical */
@media (max-width: 920px) {
    .toggleButton {
        display: flex;
        z-index: 9999;
    }

    .logo {
        margin-left: calc(-1.5rem + 0.390625vw);
    }

    .navLinks {
        position: fixed;
        inset: 0 0 0 50%;
        display: flex;
        padding: min(20vh, 20rem) 1em;
        flex-direction: column;
        transform: translateX(100%);
        transition: transform 150ms ease-out;
    }

    .navBar {
        flex-direction: column;
        align-items: flex-start;  
    }

    .navLinks ul {
        width: 100%;
        flex-direction: column;
    }

    .navLinks li {
        margin: calc(1em + 0.390625vw);
        text-align: right;
    }

    .navLinks li a {
        padding: 0 0.5rem;
        font-size: calc(1.5rem + 0.390625vw);
    }

    .navLinks.active {
        display: flex;
    }
} 

@media (max-width: 810px) {

    .toggleButton {
        display: flex;
        z-index: 9999;
    }

    .navLinks {
        position: fixed;
        inset: 0 0 0 60%;
        display: flex;
        padding: min(20vh, 20rem) 2rem;
        flex-direction: column;
        transform: translateX(100%);
        transition: transform 150ms ease-out;
    }

    .navBar {
        flex-direction: column;
        align-items: flex-start;  
    }

    .navLinks ul {
        width: 100%;
        flex-direction: column;
    }

    .navLinks li {
        margin: 0 0 calc(4em + 0.390625vw) 0;
        text-align: right;
    }

    .navLinks li a {
        padding: 0 0.5rem;
        font-size: calc(1.5rem + 0.390625vw);
    }

    .navLinks.active {
        display: flex;
    }
    .wrapper .about p {
        font-size: 1.25rem;
        margin-left: 0; 
        text-align: left;
    }
    .wrapper .about img {
        width: 290px;
        height: 340px;
    }

    .wrapper .skills .grid-container {
        grid-template-columns: repeat(4, 1fr)
    }

    .wrapper .skills .grid-container .grid-item img{
        margin-left: calc(1.2rem + 0.390625vw);
    }

    .wrapper .skills .grid-container p{
        font-size: calc(1.063rem + 0.390625vw);
        margin-left: calc(0rem + 0.390625vw);
    }

    .wrapper .projects .flex-container .flex-item .main-project-image {
        width: 100%;
        height: 15%;
        margin-left: 0%;
        margin-bottom: 2%;
    }

    .wrapper .projects .flex-container .title {
        font-size: 2.2rem;
        line-height: 2rem;
        text-align: center;
        margin: 0;
    }

    .wrapper .projects .flex-container .subtitle {
        margin: 0;
        font-size: 1.3rem;
        line-height: 2.4rem;
        text-align: center;
    }

    .wrapper .projects .flex-container .project-description {
        margin: 0;
        margin-bottom: 5%;
        font-size: 1.4rem;
        line-height: 1.6rem;
    }

    .wrapper .projects .flex-container .flex-item .project-description a {
        font-size: 1.4rem;
        line-height: 0rem;     
    }

    .wrapper .projects .flex-container .flex-item .project-hyperlinks {
        display: flex;
        justify-content: flex-end;
    }

    .wrapper .projects .flex-container .flex-item .project-hyperlinks a {
        outline: 1px solid var(--nearly-rotten-mango);
        margin: 5px;
        padding: 15px;
    }

    .wrapper .projects .flex-container .flex-item .project-hyperlinks a p {
        font-size: calc(1rem + 0.390625vw);
    }

    .wrapper .projects .more-to-come {
        font-size: calc(1rem + 0.390625vw);
    }

    .quotation {
        margin-top: 0;
        margin-bottom: 50px
    }

    .quotation p {
        font-size: calc(0.9rem + 0.390625vw);
        line-height: calc(1.2rem + 0.390625vh);
        margin: calc(1rem + 0.390625vh) calc(0.625rem + 0.390625vh) 0 calc(0.625rem + 0.390625vh);
        text-align: center;
    }
    
    .quotation b {
        font-size: calc(0.9rem + 0.390625vw);
        line-height: calc(1.2rem + 0.390625vh);
        margin: calc(0.5rem + 0.390625vh) calc(0.625rem + 0.390625vh) 0 calc(0.625rem + 0.390625vh);
        text-align: right;
    }

    .footer {
        font-size: calc(0.8rem + 0.390625vw);
        line-height: calc(1rem + 0.390625vh);
        text-align: justify;
    }
}

@media (max-width: 428px) {
    .toggleButton {
        display: flex;
        z-index: 9999;
        margin-right: -8%;
        margin-top: -0.5%;
    }

    .navLinks {
        position: fixed;
        inset: 0 0 0 35%;
        display: flex;
        padding: min(20vh, 10rem) 2em;
        flex-direction: column;
        transform: translateX(100%);
        transition: transform 150ms ease-out;
    }

    .navBar {
        flex-direction: column;
        align-items: flex-start;
    }

    .navLinks ul {
        width: 100%;
        flex-direction: column;
    }

    .navLinks li {
        text-align: right;
    }

    .navLinks li a {
        padding: 1rem;
    }

    .navLinks.active {
        display: flex;
    }

    .wrapper {
        padding: 10rem 2% 10% 2%; 
        margin: 0 1% 0 1%;
    }

    .wrapper .about img {
        width: calc(280px + 0.390625vw);
        height: calc(330px + 0.390625vh);
        margin: 0 calc(50px + 0.390625vw) calc(20px + 0.390625vw) calc(50px + 0.390625vw);
    }

    .wrapper .about p {
        text-align: left;
        font-size: calc(1.063rem + 0.390625vw);
        padding: 0 0 0 0;
    }

    .wrapper .skills .grid-container {
        grid-template-columns: repeat(2, 1fr)
    }

    .wrapper .skills .grid-container .grid-item img{
        margin-left: calc(2.8rem + 0.390625vw);
    }

    .wrapper .skills .grid-container p{
        font-size: calc(1.063rem + 0.390625vw);
        margin-left: calc(0rem + 0.390625vw);
    }

    .wrapper .projects .flex-container .flex-item .main-project-image {
        width: 100%;
        height: 15%;
        margin-left: 0%;
        margin-bottom: 2%;
    }

    .wrapper .projects .flex-container .title {
        font-size: calc(1.2rem + 0.390625vw);
        line-height: calc(1.3rem + 0.390625vh);
        text-align: center;
    }
    
    .wrapper .projects .flex-container .subtitle {
        font-size: calc(1rem + 0.390625vw);
        line-height: calc(1.2rem + 0.390625vh);
        text-align: center;
    }

    .wrapper .projects .flex-container .project-description {
        font-size: calc(1rem + 0.390625vw);
        line-height: calc(1.2rem + 0.390625vh);
        margin-right: calc(0.1rem + 0.390625vw);
    }

    .wrapper .projects .flex-container .flex-item .project-description a {
        font-size: calc(1rem + 0.390625vw);
        line-height: calc(1.2rem + 0.390625vh);
    }

    .wrapper .projects .flex-container .flex-item .project-hyperlinks {
        display: flex;
        justify-content: flex-end;
    }

    .wrapper .projects .flex-container .flex-item .project-hyperlinks a {
        outline: 1px solid var(--nearly-rotten-mango);
        margin: 5px;
        padding: 15px;
    }

    .wrapper .projects .flex-container .flex-item .project-hyperlinks a p {
        font-size: calc(1rem + 0.390625vw);
    }
}

@media (max-width: 414px) {

    .toggleButton {
        display: flex;
        z-index: 9999;
    }

    .navLinks {
        position: fixed;
        inset: 0 0 0 35%;
        display: flex;
        padding: min(20vh, 20rem) 0;
        flex-direction: column;
        transform: translateX(100%);
        transition: transform 150ms ease-out;
    }

    .navBar {
        flex-direction: column;
        align-items: flex-start;  
    }

    .navLinks ul {
        width: 100%;
        flex-direction: column;
    }

    .navLinks li {
        margin: 0 0 calc(4em + 0.390625vw) 0;
        text-align: right;
    }

    .navLinks li a {
        padding: 0 0.5rem;
        font-size: calc(1.5rem + 0.390625vw);
    }

    .navLinks.active {
        display: flex;
    }

    .wrapper {
        padding: 10rem 2% 10% 2%; 
        margin: 0 1% 0 1%;
    }

    .wrapper .about img {
        width: calc(280px + 0.390625vw);
        height: calc(330px + 0.390625vh);
        margin: 0 calc(50px + 0.390625vw) calc(20px + 0.390625vw) calc(50px + 0.390625vw);
    }

    .wrapper .about p {
        text-align: left;
        font-size: calc(1.063rem + 0.390625vw);
        padding: 0 0 0 0;
    }

    .wrapper .about .about-hyperlinks {
        margin: 0;
    }

    .wrapper .skills .grid-container {
        grid-template-columns: repeat(2, 1fr)
    }

    .wrapper .skills .grid-container .grid-item img{
        margin-left: calc(2.6rem + 0.390625vw);
    }

    .wrapper .skills .grid-container p{
        font-size: calc(1.063rem + 0.390625vw);
        margin-left: calc(0rem + 0.390625vw);
    }

    .wrapper .projects .flex-container .flex-item .main-project-image {
        width: calc(100% + 0.390625vw); 
        height: calc(15% + 0.390625vh);
    }

    .wrapper .projects .flex-container .title {
        font-size: calc(1.36rem + 0.390625vw);
        line-height: calc(1.5rem + 0.390625vh);
        text-align: center;
    }
    
    .wrapper .projects .flex-container .subtitle {
        font-size: calc(1rem + 0.390625vw);
        line-height: calc(1.5rem + 0.390625vh);
        text-align: center;
    }

    .wrapper .projects .flex-container .project-description {
        font-size: calc(1rem + 0.390625vw);
        line-height: calc(1.2rem + 0.390625vh);
        margin-right: calc(0.1rem + 0.390625vw);
    }

    .wrapper .projects .flex-container .flex-item .project-description a {
        font-size: calc(1rem + 0.390625vw);
        line-height: calc(1.2rem + 0.390625vh);
    }

    .wrapper .projects .flex-container .flex-item .project-hyperlinks {
        display: flex;
        justify-content: flex-end;
        
    }

    .wrapper .projects .flex-container .flex-item .project-hyperlinks a {
        outline: 1px solid var(--nearly-rotten-mango);
        margin: 5px;
        padding: 15px;
    }

    .wrapper .projects .flex-container .flex-item .project-hyperlinks a p {
        font-size: calc(1rem + 0.390625vw);
    }

    .wrapper .projects .more-to-come {
        font-size: calc(1rem + 0.390625vw);
    }

    .quotation {
        margin-top: 0;
        margin-bottom: 50px
    }

    .quotation p {
        font-size: calc(0.9rem + 0.390625vw);
        line-height: calc(1.2rem + 0.390625vh);
        margin: calc(1rem + 0.390625vh) calc(0.625rem + 0.390625vh) 0 calc(0.625rem + 0.390625vh);
        text-align: center;
    }
    
    .quotation b {
        font-size: calc(0.9rem + 0.390625vw);
        line-height: calc(1.2rem + 0.390625vh);
        margin: calc(0.5rem + 0.390625vh) calc(0.625rem + 0.390625vh) 0 calc(0.625rem + 0.390625vh);
        text-align: right;
    }

    .footer {
        font-size: calc(0.8rem + 0.390625vw);
        line-height: calc(1rem + 0.390625vh);
        text-align: justify;
    }

}

@media (max-width: 393px) {
    .toggleButton {
        display: flex;
        z-index: 9999;
        margin-right: -12%;
    }

    .navLinks {
        position: fixed;
        inset: 0 0 0 30%;
        display: flex;
        padding: min(20vh, 10rem) 0;
        flex-direction: column;
        transform: translateX(100%);
        transition: transform 150ms ease-out;
    }

    .navBar {
        flex-direction: column;
        align-items: flex-start;
    }

    .navLinks ul {
        width: 100%;
        flex-direction: column;
    }

    .navLinks li {
        margin-right: 1em;
        text-align: right;
    }

    .navLinks li a {
        padding: 0.5rem 1rem;
    }

    .navLinks.active {
        display: flex;
    }

    .wrapper {
        padding: 10rem 3% 10% 3%; 
    }

    .wrapper .skills .grid-container .grid-item {
        padding: 0.5rem;
        margin-top: 1rem;
     }

     .wrapper .projects .flex-container .title {
        font-size: calc(1.25rem + 0.390625vw);
        line-height: calc(1.25rem + 0.390625vh);
        text-align: center;
    }
    
    .wrapper .projects .flex-container .subtitle {
        font-size: calc(0.9rem + 0.390625vw);
        line-height: calc(1.25rem + 0.390625vh);
        text-align: center;
    }

    .wrapper .projects .flex-container .project-description {
        font-size: calc(1rem + 0.390625vw);
        line-height: calc(1.2rem + 0.390625vh);
        margin-right: calc(0.1rem + 0.390625vw);
    }

    .wrapper .projects .flex-container .flex-item .project-description a {
        font-size: calc(1rem + 0.390625vw);
        line-height: calc(1.2rem + 0.390625vh);
    }

    .wrapper .projects .flex-container .flex-item .project-hyperlinks {
        display: flex;
        justify-content: flex-end;
    }

    .wrapper .projects .flex-container .flex-item .project-hyperlinks a {
        outline: 1px solid var(--nearly-rotten-mango);
        margin: 5px;
        padding: 15px;
    }

    .wrapper .projects .flex-container .flex-item .project-hyperlinks a p {
        font-size: calc(1rem + 0.390625vw);
    }

    .wrapper .projects .more-to-come {
        font-size: calc(1rem + 0.390625vw);
    }

    .quotation {
        margin-top: 0;
        margin-bottom: 50px
    }

    .quotation p {
        font-size: calc(0.9rem + 0.390625vw);
        line-height: calc(1.2rem + 0.390625vh);
        margin: calc(1rem + 0.390625vh) calc(0.625rem + 0.390625vh) 0 calc(0.625rem + 0.390625vh);
        text-align: center;
    }
    
    .quotation b {
        font-size: calc(0.9rem + 0.390625vw);
        line-height: calc(1.2rem + 0.390625vh);
        margin: calc(0.5rem + 0.390625vh) calc(0.625rem + 0.390625vh) 0 calc(0.625rem + 0.390625vh);
        text-align: right;
    }

    .footer {
        font-size: calc(0.8rem + 0.390625vw);
        line-height: calc(1rem + 0.390625vh);
        text-align: justify;
    }

    
}

@media (max-width: 384px) {
    .toggleButton {
        display: flex;
        z-index: 9999;
        margin-right: -12%;
    }

    .navLinks {
        position: fixed;
        inset: 0 0 0 35%;
        display: flex;
        padding: min(20vh, 10rem) 0em;
        flex-direction: column;
        transform: translateX(100%);
        transition: transform 150ms ease-out;
    }

    .navBar {
        flex-direction: column;
        align-items: flex-start;
    }

    .navLinks ul {
        width: 100%;
        flex-direction: column;
    }

    .navLinks li {
        margin-right: 1em;
        text-align: right;
    }

    .navLinks li a {
        padding: 0.5rem 1rem;
    }

    .navLinks.active {
        display: flex;
    }

    .wrapper {
        padding: 10rem 3% 10% 3%; 
    }

    .wrapper .skills .grid-container .grid-item {
        padding: 0.5rem;
     }

    .wrapper .projects .flex-container .subtitle {
        font-size: 0.981rem;
    }

    .wrapper .projects .flex-container .project-description {
        text-align: left;
    }
}

@media (max-width: 375px) {
    .toggleButton {
        display: flex;
        z-index: 9999;
    }

    .navLinks {
        position: fixed;
        inset: 0 0 0 35%;
        display: flex;
        padding: min(20vh, 20rem) 0;
        flex-direction: column;
        transform: translateX(100%);
        transition: transform 150ms ease-out;
    }

    .navBar {
        flex-direction: column;
        align-items: flex-start;  
    }

    .navLinks ul {
        width: 100%;
        flex-direction: column;
    }

    .navLinks li {
        margin: 0 0 calc(4em + 0.390625vw) 0;
        text-align: right;
    }

    .navLinks li a {
        padding: 0 0.5rem;
        font-size: calc(1.5rem + 0.390625vw);
    }

    .navLinks.active {
        display: flex;
    }

    .wrapper .about p{
        font-size: calc(1.125rem + 0.390625vw);
    }

    .wrapper .about img {
        width: 260px;
        height: 310px;
        margin-left: 10%;
        margin-right: 10%;
        margin-bottom: 5%;
    }

    .wrapper .skills .grid-container {
        grid-template-columns: repeat(2, 1fr)
    }

    .wrapper .skills .grid-container .grid-item img{
        margin-left: calc(2.6rem + 0.390625vw);
    }

    .wrapper .skills .grid-container p{
        font-size: calc(1.063rem + 0.390625vw);
        margin-left: calc(0rem + 0.390625vw);
    }

    .wrapper .projects{
        padding-bottom: 2.7rem;
    }

    .wrapper .projects .flex-container .flex-item .main-project-image {
        width: calc(100% + 0.390625vw); 
        height: calc(15% + 0.390625vh);
    }

    .wrapper .projects .flex-container .title {
        font-size: calc(1.2rem + 0.390625vw);
        line-height: calc(1.5rem + 0.390625vh);
        text-align: center;
    }
    
    .wrapper .projects .flex-container .subtitle {
        font-size: calc(0.9rem + 0.390625vw);
        line-height: calc(1.2rem + 0.390625vh);
        margin-bottom: calc(0.1rem + 0.390625vh);
        text-align: center;
    }

    .wrapper .projects .flex-container .project-description {
        font-size: calc(1rem + 0.390625vw);
        line-height: calc(1.2rem + 0.390625vh);
        margin-right: calc(0.1rem + 0.390625vw);
    }

    .wrapper .projects .flex-container .flex-item .project-description a {
        font-size: calc(1rem + 0.390625vw);
        line-height: calc(1.2rem + 0.390625vh);
    }

    .wrapper .projects .flex-container .flex-item .project-hyperlinks {
        display: flex;
        justify-content: flex-end;
    }

    .wrapper .projects .flex-container .flex-item .project-hyperlinks a {
        outline: 1px solid var(--nearly-rotten-mango);
        margin: 5px;
        padding: 15px;
    }

    .wrapper .projects .flex-container .flex-item .project-hyperlinks a p {
        font-size: calc(1rem + 0.390625vw);
    }

    .wrapper .projects .more-to-come {
        font-size: calc(1rem + 0.390625vw);
    }

    .quotation {
        margin-top: 0;
        margin-bottom: 50px
    }

    .quotation p {
        font-size: calc(1rem + 0.390625vw);
        line-height: calc(1.2rem + 0.390625vh);
        margin: calc(1rem + 0.390625vh) calc(0.625rem + 0.390625vh) 0 calc(0.625rem + 0.390625vh);
        text-align: center;
    }
    
    .quotation b {
        font-size: calc(1rem + 0.390625vw);
        line-height: calc(1.2rem + 0.390625vh);
        margin: calc(0.5rem + 0.390625vh) calc(0.625rem + 0.390625vh) 0 calc(0.625rem + 0.390625vh);
        text-align: right;
    }

    .footer {
        font-size: calc(0.8rem + 0.390625vw);
        line-height: calc(1rem + 0.390625vh);
        text-align: justify;
    }
}

@media (max-width: 360px) {
    .toggleButton {
        display: flex;
        z-index: 9999;
    }

    .navLinks {
        position: fixed;
        inset: 0 0 0 35%;
        display: flex;
        padding: min(20vh, 20rem) 0;
        flex-direction: column;
        transform: translateX(100%);
        transition: transform 150ms ease-out;
    }

    .navBar {
        flex-direction: column;
        align-items: flex-start;  
    }

    .navLinks ul {
        width: 100%;
        flex-direction: column;
    }

    .navLinks li {
        margin: 0 0 calc(4em + 0.390625vw) 0;
        text-align: right;
    }

    .navLinks li a {
        padding: 0 0.5rem;
        font-size: calc(1.5rem + 0.390625vw);
    }

    .navLinks.active {
        display: flex;
    }

    .wrapper .about p{
        font-size: calc(1.125rem + 0.390625vw);
    }

    .wrapper .about img {
        width: 260px;
        height: 310px;
        margin-left: 10%;
        margin-right: 10%;
        margin-bottom: 5%;
    }

    .wrapper .skills .grid-container .grid-item img{
        margin-left: calc(2.3rem + 0.390625vw);
    }

    .wrapper .projects{
        padding-bottom: 2.7rem;
    }

    .wrapper .projects .flex-container .flex-item .main-project-image {
        width: calc(100% + 0.390625vw); 
        height: calc(15% + 0.390625vh);
    }

    .wrapper .projects .flex-container .title {
        font-size: calc(1.3rem + 0.390625vw);
        line-height: calc(1.5rem + 0.390625vh);
        text-align: center;
    }
    
    .wrapper .projects .flex-container .subtitle {
        font-size: calc(1rem + 0.390625vw);
        line-height: calc(1.2rem + 0.390625vh);
        margin-bottom: calc(0.1rem + 0.390625vh);
        text-align: center;
    }

    .wrapper .projects .flex-container .project-description {
        font-size: calc(1.125rem + 0.390625vw);
        line-height: calc(1.2rem + 0.390625vh);
        margin-right: calc(0.1rem + 0.390625vw);
    }

    .wrapper .projects .flex-container .flex-item .project-description a {
        font-size: calc(1.125rem + 0.390625vw);
        line-height: calc(1.2rem + 0.390625vh);
    }

    .wrapper .projects .flex-container .flex-item .project-hyperlinks {
        display: flex;
        justify-content: flex-end;
    }

    .wrapper .projects .flex-container .flex-item .project-hyperlinks a {
        outline: 1px solid var(--nearly-rotten-mango);
        margin: 5px;
        padding: 15px;
    }

    .wrapper .projects .flex-container .flex-item .project-hyperlinks a p {
        font-size: calc(1rem + 0.390625vw);
    }

    .wrapper .projects .more-to-come {
        font-size: calc(1rem + 0.390625vw);
    }

    .quotation {
        margin-top: 0;
        margin-bottom: 50px
    }

    .quotation p {
        font-size: calc(1rem + 0.390625vw);
        line-height: calc(1.2rem + 0.390625vh);
        margin: calc(1rem + 0.390625vh) calc(0.625rem + 0.390625vh) 0 calc(0.625rem + 0.390625vh);
        text-align: center;
    }
    
    .quotation b {
        font-size: calc(1rem + 0.390625vw);
        line-height: calc(1.2rem + 0.390625vh);
        margin: calc(0.5rem + 0.390625vh) calc(0.625rem + 0.390625vh) 0 calc(0.625rem + 0.390625vh);
        text-align: right;
    }

    .footer {
        font-size: calc(0.8rem + 0.390625vw);
        line-height: calc(1rem + 0.390625vh);
        text-align: justify;
    }
}

/* mobile landscape */
@media (min-width: 1081px) and (max-width: 1200px) and (orientation: landscape) {

    .toggleButton {
        display: flex;
        z-index: 9999;
        margin-right: 3.5%;
    }

    .navLinks {
        position: fixed;
        inset: 0 0 0 50%;
        display: flex;
        padding: min(30vh, 7rem) 1em;
        flex-direction: column;
        transform: translateX(100%);
        transition: transform 150ms ease-out;
    }

    .navBar {
        flex-direction: column;
        align-items: flex-start;  
    }

    .navLinks ul {
        width: 100%;
        flex-direction: column;
    }
    

    .navLinks li {
        margin: 1.7em;
        text-align: right;
    }

    .navLinks li a {
        padding: 0.5rem 1rem;
    }

    .navLinks.active {
        display: flex;
    }

    .wrapper .about p {
        font-size: 1.25rem;
        margin-left: 0; 
        text-align: left;
    }

    .wrapper .about img {
        width: 290px;
        height: 340px;
    }

    .wrapper .skills .grid-container {
        grid-template-columns: repeat(5, 1fr);
    }

    .wrapper .skills .grid-container .grid-item img{
        margin-left: 2rem;
        margin-top: 1rem;
     }

    .wrapper .skills .grid-container p{
        margin-left: calc(0.3rem + 0.390625vw);
    }

    .wrapper .projects .flex-container .flex-item .main-project-image {
        width: 100%;
        height: 15%;
        margin-left: 0.5%;
        margin-bottom: 2%;
    }

    .wrapper .projects .flex-container .project-description {
        margin: 0;
        margin-bottom: 5%;
        font-size: 1.25rem;
        line-height: 1.4rem;
    }

    .wrapper .projects .flex-container .title {
        font-size: 2.2rem;
        line-height: 2rem;
        text-align: center;
        margin: 0;
    }

    .wrapper .projects .flex-container .subtitle {
        margin: 0;
        font-size: 1.3rem;
        line-height: 2.4rem;
        text-align: center;
    }

    .wrapper .projects .flex-container .project-description a {
        font-size: 1.25rem;
        line-height: 1.3rem;
    }
}

@media (max-width: 1080px) and (orientation: landscape) {

    .toggleButton {
        display: flex;
        z-index: 9999;
        margin-right: 2.75%;
    }

    .navLinks {
        position: fixed;
        inset: 0 0 0 50%;
        display: flex;
        padding: min(30vh, 7rem) 1em;
        flex-direction: column;
        transform: translateX(100%);
        transition: transform 150ms ease-out;
    }

    .navBar {
        flex-direction: column;
        align-items: flex-start;  
    }

    .navLinks ul {
        width: 100%;
        flex-direction: column;
    }
    

    .navLinks li {
        margin: 1.7em;
        text-align: right;
    }

    .navLinks li a {
        padding: 0.5rem 1rem;
    }

    .navLinks.active {
        display: flex;
    }

    .wrapper .about p {
        font-size: 1.25rem;
        margin-left: 0; 
        text-align: left;
    }

    .wrapper .about img {
        width: 290px;
        height: 340px;
    }

    .wrapper .skills .grid-container {
        grid-template-columns: repeat(4, 1fr)
    }

    .wrapper .skills .grid-container .grid-item img{
        margin-left: calc(3rem + 0.390625vw);
    }

    .wrapper .skills .grid-container p{
        font-size: calc(1rem + 0.390625vw);
        margin-left: calc(0.4rem + 0.390625vw);
    }

     .wrapper .projects .flex-container .flex-item .main-project-image {
        width: 100%;
        height: 15%;
        margin-left: 0.5%;
        margin-bottom: 2%;
    }

    .wrapper .projects .flex-container .project-description {
        margin: 0;
        margin-bottom: 5%;
        font-size: 1.25rem;
        line-height: 1.4rem;
    }

    .wrapper .projects .flex-container .title {
        font-size: 2.2rem;
        line-height: 2rem;
        text-align: center;
        margin: 0;
    }

    .wrapper .projects .flex-container .subtitle {
        margin: 0;
        font-size: 1.3rem;
        line-height: 2.4rem;
        text-align: center;
    }

    .wrapper .projects .flex-container .project-description {
        margin: 0;
        margin-bottom: 5%;
        font-size: 1.4rem;
        line-height: 1.6rem;
    }

    .wrapper .projects .flex-container .flex-item .project-description a {
        font-size: 1.4rem;
        line-height: 0rem;     
    }

    .wrapper .projects .flex-container .flex-item .project-hyperlinks {
        display: flex;
        justify-content: flex-end;
    }

    .wrapper .projects .flex-container .flex-item .project-hyperlinks a {
        outline: 1px solid var(--nearly-rotten-mango);
        margin: 5px;
        padding: 15px;
    }

    .wrapper .projects .flex-container .flex-item .project-hyperlinks a p {
        font-size: calc(1rem + 0.390625vw);
    }

    .wrapper .projects .more-to-come {
        font-size: calc(1rem + 0.390625vw);
    }

    .quotation {
        margin-top: 0;
        margin-bottom: 50px
    }

    .quotation p {
        font-size: calc(0.9rem + 0.390625vw);
        line-height: calc(1.2rem + 0.390625vh);
        margin: calc(1rem + 0.390625vh) calc(0.625rem + 0.390625vh) 0 calc(0.625rem + 0.390625vh);
        text-align: center;
    }
    
    .quotation b {
        font-size: calc(0.9rem + 0.390625vw);
        line-height: calc(1.2rem + 0.390625vh);
        margin: calc(0.5rem + 0.390625vh) calc(0.625rem + 0.390625vh) 0 calc(0.625rem + 0.390625vh);
        text-align: right;
    }

    .footer {
        font-size: calc(0.8rem + 0.390625vw);
        line-height: calc(1rem + 0.390625vh);
        text-align: justify;
    }
}

@media (max-width: 926px) and (orientation: landscape) {

    .toggleButton {
        margin-right: 1.5%;
    }

    .navLinks {
        padding: min(25vh, 10rem) 0.8em;
    }

    .navBar {
        flex-direction: column;
        align-items: flex-start;  
    }

    .navLinks ul {
        width: 100%;
        flex-direction: column;
    }
    

    .navLinks li {
        margin: 0.7em;
        text-align: right;
    }

    .navLinks li a {
        padding: 0.5rem 1rem;
    }

    .navLinks.active {
        display: flex;
    }
    
    .wrapper .skills .grid-container .grid-item img{
        margin-left: calc(2.2rem + 0.390625vw);
    }

    .wrapper .skills .grid-container p{
        font-size: calc(1rem + 0.390625vw);
        margin-left: calc(0.4rem + 0.390625vw);
    }
}

@media (max-width: 915px) and (orientation: landscape) {

    .toggleButton {
        margin-right: 1.25%;
    }

    .navLinks {
        position: fixed;
        inset: 0 0 0 50%;
        display: flex;
        padding: min(30vh, 7rem) 1em;
        flex-direction: column;
        transform: translateX(100%);
        transition: transform 150ms ease-out;
    }

    .navBar {
        flex-direction: column;
        align-items: flex-start;  
    }

    .navLinks ul {
        width: 100%;
        flex-direction: column;
    }
    

    .navLinks li {
        margin: 0.7em;
        text-align: right;
    }

    .navLinks li a {
        padding: 0.5rem 1rem;
    }

    .navLinks.active {
        display: flex;
    }

    .wrapper .about p {
        font-size: 1.25rem;
        margin-left: 0; 
        text-align: left;
    }

    .wrapper .about img {
        width: 290px;
        height: 340px;
    }

    .wrapper .skills .grid-container p{
        line-height: calc(1.1rem + 0.390625vh);
        margin-right: calc(1.1rem + 0.390625vw);
        text-align: center;
    }
    
    .wrapper .skills .grid-container .grid-item {
       outline: 1px solid var(--nearly-rotten-mango);
       padding: calc(0.9rem + 0.390625vh);
    }
    
    .wrapper .skills .grid-container .grid-item img{
        margin-left: calc(2rem + 0.390625vw);
        margin-top: calc(1rem + 0.390625vh);
    }

     .wrapper .projects .flex-container .flex-item .main-project-image {
        width: 100%;
        height: 15%;
        margin-left: 0.5%;
        margin-bottom: 2%;
    }

    .wrapper .projects .flex-container .project-description {
        margin: 0;
        margin-bottom: 5%;
        font-size: 1.25rem;
        line-height: 1.4rem;
    }

    .wrapper .projects .flex-container .title {
        font-size: 2.2rem;
        line-height: 2rem;
        text-align: center;
        margin: 0;
    }

    .wrapper .projects .flex-container .subtitle {
        margin: 0;
        font-size: 1.3rem;
        line-height: 2.4rem;
        text-align: center;
    }

    .wrapper .projects .flex-container .flex-item .project-description a {
        font-size: 1.2rem;
        line-height: 1.3rem;
    }

    .wrapper .projects .flex-container .flex-item .project-hyperlinks a {
        outline: 1px solid var(--nearly-rotten-mango);
        margin: 5px;
        padding: 15px;
    }

    .wrapper .projects .flex-container .flex-item .project-hyperlinks a p {
        font-size: calc(1rem + 0.390625vw);
    }

    .wrapper .projects .more-to-come {
        font-size: calc(1rem + 0.390625vw);
    }

    .quotation {
        margin-top: 0;
        margin-bottom: 50px
    }

    .quotation p {
        font-size: calc(0.9rem + 0.390625vw);
        line-height: calc(1.2rem + 0.390625vh);
        margin: calc(1rem + 0.390625vh) calc(0.625rem + 0.390625vh) 0 calc(0.625rem + 0.390625vh);
        text-align: center;
    }
    
    .quotation b {
        font-size: calc(0.9rem + 0.390625vw);
        line-height: calc(1.2rem + 0.390625vh);
        margin: calc(0.5rem + 0.390625vh) calc(0.625rem + 0.390625vh) 0 calc(0.625rem + 0.390625vh);
        text-align: right;
    }

    .footer {
        font-size: calc(0.8rem + 0.390625vw);
        line-height: calc(1rem + 0.390625vh);
        text-align: justify;
    }
}

@media (max-width: 896px) and (orientation: landscape) {
    .wrapper .skills .grid-container .grid-item img{
        margin-left: calc(1.9rem + 0.390625vw);
    }

    .wrapper .skills .grid-container p{
        font-size: calc(1rem + 0.390625vw);
        margin-left: calc(1rem + 0.390625vw);
    }
}

@media (max-width: 854px) and (orientation: landscape) {

    .toggleButton {
        display: flex;
        z-index: 9999;
        margin-right: 0.75%;
    }

    .navLinks {
        padding: min(25vh, 10rem) 0.8em;
    }
    
    .wrapper .skills .grid-container .grid-item img{
        margin-left: 1.6rem;
    }

    .wrapper .skills .grid-container .js img{
        margin-left: 1.6rem;
    }
}

@media (max-width: 812px) and (orientation: landscape) {
   
    .wrapper .skills .grid-container {
        grid-template-columns: repeat(4, 1fr)
    }

    .wrapper .skills .grid-container .grid-item img{
        margin-left: calc(1.25rem + 0.390625vw);
    }

    .wrapper .skills .grid-container .js img{
        margin-left: calc(1.85rem + 0.390625vw);
    }

    .wrapper .skills .grid-container p{
        font-size: calc(1rem + 0.390625vw);
        margin-left: calc(1rem + 0.390625vw);
    }
}

@media (max-width: 800px) and (orientation: landscape) {

    .toggleButton {
        margin-right: -0.1%;
    }

    .navLinks {
        padding: min(20vh, 8rem) 0.8em;
    }

    .wrapper .skills .grid-container {
        grid-template-columns: repeat(4, 1fr)
    }

    .wrapper .skills .grid-container .grid-item img{
        margin-left: calc(1.4rem + 0.390625vw);
    }

    .wrapper .skills .grid-container .js img{
        margin-left: calc(2rem + 0.390625vw);
    }

    .wrapper .skills .grid-container p{
        font-size: calc(0.9rem + 0.390625vw);
        margin-left: calc(1.3rem + 0.390625vw);
    }
}

@media (max-width: 760px) and (orientation: landscape) {

    .toggleButton {
        margin-right: -0.5%;
    }

    .navLinks {
        padding: min(20vh, 8rem) 0.8em;
    }

    .wrapper .skills .grid-container {
        grid-template-columns: repeat(3, 1fr)
    }

    .wrapper .skills .grid-container .grid-item img{
        margin-left: calc(3rem + 0.390625vw);
    }

    .wrapper .skills .grid-container p{
        font-size: calc(1rem + 0.390625vw);
        margin-left: calc(1.5rem + 0.390625vw);
    }

    .wrapper .projects .flex-container .title {
        font-size: 2rem;
    }
}

@media (max-width: 667px) and (orientation: landscape) {

    .toggleButton {
        margin-right: -2%;
    }

    .navLinks {
        padding: min(20vh, 8rem) 0.8em;
    }

    .wrapper .skills .grid-container {
        grid-template-columns: repeat(3, 1fr);
    }

    .wrapper .skills .grid-container .grid-item img{
        margin-left: calc(2.1rem + 0.390625vw);
    }

    .wrapper .skills .grid-container p{
        font-size: calc(1rem + 0.390625vw);
        margin-left: calc(1.3rem + 0.390625vw);
    }
} 