@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;600&display=swap');

:root {
    --dark-grey: #262626;
    --off-white: #fffbeb;
    --yellow-orange: #f3b23b;
}

* {
    box-sizing: border-box;
    scroll-padding-top: 4em;
    margin: 0;
    padding: 0;
    background-color: var(--dark-grey);
    scroll-behavior: smooth;
    font-family: 'Outfit', sans-serif;
}

body {
    overflow-x: hidden;
}

.logo {
    font-weight: 600;
    font-size: 2rem;
    margin-left: 0.3rem;
}

header {
    position: fixed;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10%;
    border-bottom: 1px solid var(--yellow-orange);
}

.navBar {
    margin-right: -2.5rem;
}

.navLinks {
    list-style: none;
}

.navLinks[data-visible="true"] {
    transform: translateX(0%);
}

.navLinks li {
    display: inline-block;
    padding: 0 2.5rem;
    list-style: none;
}

.navLinks li a:hover {
    transition: all 0.5 ease 0s;
}

.logo, 
h1, 
h2, 
.navlinks, 
li a, .wrapper p, 
.wrapper .projects .flex-container .project-description, 
.quotation {
    color: var(--off-white);
}

.wrapper .about .main-about-image,
.wrapper .skills .grid-container .grid-item,
.wrapper .projects .flex-container .flex-item .main-project-image {
    outline: 1px solid var(--off-white);
}

h3, 
.navLinks li a:hover, 
.wrapper .projects .flex-container .flex-item .project-description a, 
.wrapper .projects .flex-container .flex-item .project-description a p, 
.wrapper .projects .more-to-come, 
.footer {
    color: var(--yellow-orange);
}

h1, 
h2 {
    /* h2 == title of project */ 
    font-size: 2rem;
    font-weight: 500;
}

h3 {
    /* h3 == subtitle of project -> tech used*/ 
    font-size: 1rem;
}

li, a {
    font-size: 1.5rem;
    text-decoration: none;
}

.font-weight-400 {
    font-weight: 400;
}

.flex {
    display: flex;
}

.wrapper {
    flex-direction: column;
    padding: 5.5% 10%;
}

.wrapper .about .main-about-image {
    margin-right: 1rem;
    float: left;
    inline-size: 16%;
    block-size: auto;
}

.wrapper p {
    font-size: 1.3rem;
    text-align: left;
}

.wrapper .about {
    margin-bottom: 5rem;
    /* outline: 1px solid red; */
}

.wrapper .about .emphasize-using-color{
    color: var(--yellow-orange)
}

.wrapper .about .about-hyperlinks {
    justify-content: flex-end;
    /* outline: 1px solid red; */
}

.wrapper .about .about-hyperlinks img {
    max-width: 45px;
    margin-left: 0.5rem;
    height: auto;
}

.wrapper .about p {
    margin-bottom: 0.9rem;
}

.wrapper .skills {
    margin-bottom: 2.5rem;
    /* outline: 1px solid red; */
}

.wrapper .skills .grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(170px, 1fr));
    margin-bottom: 2.5rem;
    /* outline: 1px solid red; */
}

.wrapper .skills .grid-container .grid-item {
    padding: 1rem;
    margin: 0.3em;
 }

.wrapper .skills .grid-container .grid-item svg {
    width: 1.25em;
    height: 1.25em;
}

.wrapper .skills .grid-container .grid-item .svg-text {
    font-size: 2.7rem;
    line-height: 3rem;
    text-align: center;
}

.wrapper .skills .grid-container .grid-item .svg-text-center{ 
    text-align: center;
    font-size: 1.2rem;
 }

.wrapper .projects {
    margin-top: 2.5rem;
    padding-bottom: 2rem;
    border-bottom: 2px solid var(--off-white);
    /* outline: 1px solid red; */
}

.wrapper .projects .flex-container .flex-item {
    margin-bottom: 3.5rem;
}

.wrapper .projects .flex-container .flex-item .main-project-image {
    float: left;
    inline-size: 25%;
    block-size: auto;
    height: auto;
    margin: 0.5rem 1rem 0 0;
}

.wrapper .projects .flex-container .project-description {
    font-size: 1.1rem;
    text-align: left;
    margin-top: 0.3rem;
}

.wrapper .projects .flex-container .flex-item .project-description a {
    font-size: 1.1rem;
}

.wrapper .projects .flex-container .flex-item .project-hyperlinks {
    justify-content: flex-end;
    align-items: center;
}

.wrapper .projects .flex-container .flex-item .project-hyperlinks a {
    margin-left: 1rem;
    outline: 1px solid var(--yellow-orange);
}

.wrapper .projects .flex-container .flex-item .project-hyperlinks a p {
    font-size: 1rem;
    padding: 0.75rem;
}

.wrapper .projects .more-to-come {
    /* outline: 1px solid red; */
    font-size: 1rem;
    font-style: italic;
    text-align: center;
    margin-top: 6rem;
}

.quotation {
    flex-direction: column;
    margin-top: 2rem;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    color: var(--off-white);

}

.quotation p {
    font-size: 1.1rem;
    font-style: italic;
    text-align: center;
}

.quotation b {
    text-align: right;
    font-size: 1.1rem;
}

.footer {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3rem;
    font-size: 0.9rem;
    font-style: italic;
    justify-content: center;
}

/* mobile toggle button*/
.toggleButton {
    position: absolute;
    top: 0.9rem;
    right: calc(3.5rem + 0.390625vw);
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: calc(2.5rem + 0.390625vw);
    height: calc(1.875rem + 0.390625vh);
    border: 0;
    /* outline: 1px solid red; */
}