/* quotation section */
footer {
    margin-bottom: 2%;
    max-width: 900px;
}

.quotation p {
    font-size: 1rem;
}

.quotation b {
    margin-top: 1rem;
    font-size: 1rem;
}

/* footer section */
.footer {
    margin: 3% 15%;
    margin-bottom: 1rem;
    font-size: 0.75rem;
    /* outline: 1px solid red; */
}