@use '../global/colors';

.hero-section-margin-block{
    margin-block: 7.5rem;
    /* outline: 1px solid red; */
}

.my-name {
    font-family: 'Archivo', sans-serif;
    font-size: 3rem;
}

.job-position {
    font-size: 1.3rem;
}

.hero-section-hyperlinks img {
    margin-top: 0.5rem;
    transition: 0.1s ease-in-out;

    &:hover {
        border-radius: 2px;
        background-color: colors.$sonic-blue;
    }
}